<form [formGroup]="form" class="mainFrom">
    <div class="row">
        <!-- <mat-form-field class="col-md-6"> -->

             <!-- <div class="select-all">
                        <mat-checkbox
                          [indeterminate]="isIndeterminate()"
                          [checked]="isChecked()"
                          (click)="$event.stopPropagation()"
                          (change)="toggleAllSelection($event)"
                          ></mat-checkbox
                        >
                      </div> -->

                <!-- <mat-label>Test</mat-label> -->
                <!-- <mat-select #select [multiple]="true" [formControl]="selectField">                  
                  <mat-option *ngFor="let item of data" [value]="item['guid']">
                    {{ item["name"] }}
                  </mat-option>
                </mat-select> -->

            <!-- <mat-select placeholder="Mailing Sender" formControlName="massEmailSender">
                <mat-option value="List">Test</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="parent-class">-->



            <!-- <app-mat-select class="custom-component" [data]="data" formControlName="tractList" fieldName="name"
                [multiselect]="true" labelText="Test label" idField="guid"></app-mat-select>  -->
        <!-- </mat-form-field> -->


        <!-- (onSelectionChange)="getValues($event)" -->
        <mat-form-field class="col-md-6">
            <mat-select [formControl]="foodForm" placeholder="Favorite food" multiple>
                <mat-option *ngFor="let food of allfoods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>

Form Data : {{ foodForm.value | json }}<br />