<form [formGroup]="form" class="mainFrom">
    <div class="row">
        <mat-form-field class="col-md-12">
            <mat-select [formControl]="garagesForm" placeholder="Garages" multiple>
                <mat-option *ngFor="let garage of allComboGarages" [value]="garage.value">
                    {{garage.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <div class="row">
        <div class="col-md-12">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="_id">
                    <mat-header-cell [hidden]="true" *matHeaderCellDef>
                        id
                    </mat-header-cell>
                    <mat-cell [hidden]="true" *matCellDef="let element">
                        {{element._id}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="mispar_mosah">
                    <mat-header-cell class="headerTableItemPadding0" [ngClass]="'w-200 wordWrap'" *matHeaderCellDef>
                        מספר מוסך
                    </mat-header-cell>

                    <mat-cell class="tableItemBold" *matCellDef="let element">
                        {{element.mispar_mosah}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="shem_mosah">
                    <mat-header-cell class="headerTableItemPadding0" [ngClass]="'w-200 wordWrap'" *matHeaderCellDef>
                        שם מוסך
                    </mat-header-cell>

                    <mat-cell class="tableItemBold" *matCellDef="let element">
                        {{element.shem_mosah}}
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns">
                </mat-row>

            </mat-table>

            <div *ngIf="isLoading"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                <div>
                    <br><br>
                    <button mat-raised-button color="primary" type="button" (click)="addGarages()">
                        הוספה
                    </button>
                </div>

                <div *ngIf="isLoading2" style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
        </div>
    </div>
</form>

Garage Form Data : {{ garagesForm.value | json }}<br />
